.grid {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    width: 100%; 
    height: auto;
    overflow: hidden;
    box-sizing: border-box; 
  }
  
  .grid-row {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
  }
  
  .grid-cell {
    flex: 1 1 0%; 
    aspect-ratio: 1; 
    border: 1px solid #ddd;
    cursor: pointer;
    background-image: url("../../images/grass.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: calc(100% / 51); /* Ensure cells are sized relative to the container, 51 comes from grid context */
  }
  
  .grid-cell.wall {
    background-image: url("../../images/wall.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isStartNode {
    background-image: url("../../images/start.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isEndNode {
    background-image: url("../../images/end.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isStopNode {
    background-image: url("../../images/stop.png");
  }

  @keyframes colorChangeBlue{
    0%   {background-color:#0066b2; left:0px; top:0px;}
    25%  {background-color:#007FFF; left:200px; top:0px;}
    50%  {background-color:#318CE7; left:200px; top:200px;}
    75%  {background-color:turquoise; left:0px; top:200px;}
    100% {background-color:lightblue; left:0px; top:0px;}
  }

  .grid-cell.visited {
    background-image: none;
    background-color: lightblue;
    animation: colorChangeBlue 0.5s linear;
  } 
  
  @keyframes colorChangeRed{
    0%   {background-color:#D2122E; left:0px; top:0px;}
    25%  {background-color:#E23D28; left:200px; top:0px;}
    50%  {background-color:#E44D2E; left:200px; top:200px;}
    75%  {background-color:#FF7F50; left:0px; top:200px;}
    100% {background-color:lightcoral; left:0px; top:0px;}
  }
  
  .grid-cell.visited2 {
    background-image: none;
    background-color: lightcoral;
    animation: colorChangeRed 0.5s linear;
  }

  @keyframes pathAnimate {
    0% { opacity: 10% ;}
    25% { opacity: 25% ;}
    50% { opacity: 50% ;}
    75% { opacity: 75% ;}
    100% {opacity: 100% ;}
  }

  .grid-cell.path {
    background-image: url("../../images/path.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: pathAnimate 0.5s linear;
  }