.grid {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: max-content;
  }
  
  .grid-row {
    display: flex;
  }
  
  .grid-cell {
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-image: url("../../images/grass.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-cell.wall {
    background-image: url("../../images/wall.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isStartNode {
    background-image: url("../../images/start.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isEndNode {
    background-image: url("../../images/end.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-cell.isStopNode {
    background-color: violet;
  }

  .grid-cell.visited {
    background-image: url("");
    background-color: lightblue;
  }

  .grid-cell.path {
    background-image: url("../../images/path.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }