.info-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px;
    background-color: white;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 2px;
    width: 100px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .info-image {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .info-text {
    font-size: 14px;
    color: #333;
    text-align: center;
  }